@import url('https://fonts.googleapis.com/css?family=Courier%20New:700|Nunito:400');

body {
  font-family: 'Nunito';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Courier New';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root[data-theme="light"] {
    --text: #050316;
    --background: #fbfbfe;
    --primary: #9fb4c1;
    --secondary: #83b9e2;
    --accent: #0f4662;
  }
  :root[data-theme="dark"] {
    --text: #eae9fc;
    --background: #010104;
    --primary: #3e5360;
    --secondary: #1d537c;
    --accent: #9ed5f0;
  }
  
